<!-- <hidenav-stretchheader header-height="50" opacity-factor="8" opacity-color="white" init-expanded="true" no-border="true"
  blur-factor="5">


  <div #static>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </div>


  <div #shrinkexpand image>
    <img src="https://cdn2.thecatapi.com/images/MTgzMDkyMw.jpg" alt="">
  </div>

</hidenav-stretchheader> -->
<ion-header translucent="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title title>Detalle</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content hidenav-sh-content>

  <section class="padding">
    <div class="head-title">

      <div>
        <ion-icon name="fast-food-outline"></ion-icon>&nbsp;
        <ion-label title>{{producto.nombre}}</ion-label>
      </div><br>
      <ion-label price>${{producto.precio_unidad}}</ion-label>
    </div>

    <div description>
      {{producto.descripcion}}
    </div><br>

    <div ingredents>
      <ion-icon name="restaurant-outline"></ion-icon>
      &nbsp;&nbsp;<ion-label>Ingredientes</ion-label>
      <br>
      <ng-container>
        <ion-item *ngFor="let ingrediente of producto.ingredientes" style="padding: 0">{{ingrediente.nombre}}</ion-item>
      </ng-container>

    </div>
    <br><br><br>
    <ng-container *ngIf="isSaler">
      <ion-item >
        <ion-label position="stacked">Stock</ion-label>
        <ion-input type="number" [value]="producto.cantidad" [(ngModel)]="producto.cantidad"></ion-input>
     </ion-item>
     <ion-row>
       <ion-button expand="block" (click)="guardarStock()">Guardar</ion-button>
     </ion-row>
    </ng-container>
   

  </section>
  

</ion-content>
<!-- <ion-footer>

  <div style="width: 100%" align="center">
    <ion-button expand="block" full-btn>
      Añadir al carrito
    </ion-button>
  </div>

</ion-footer> -->