<ion-header translucent="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title title>Carrito</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-label large>Carrito</ion-label>
    </ion-toolbar>
  </ion-header>


  <section>
    <ion-row *ngFor="let producto of productos" productos (click)="detalleProducto(producto)">
      <ion-col>
        <img [src]="producto.urlFoto" class="image-list">
      </ion-col>

      <ion-col size="6" class="border-bottom">
        <div class="product-detail">
          <div>
            <ion-label title>{{producto.nombre}}</ion-label><br>
            <ion-label small>{{producto.descripcion}}</ion-label>
          </div>
          <ion-label precio>${{producto.precio_unidad}}</ion-label>
        </div>
      </ion-col>

      <ion-col size="2" class="border-bottom">
        <app-selector [value]="producto.quality" (valueAdd)="modifySelect('add', producto);" (valueRm)="modifySelect('rm', producto);">
        </app-selector>
      </ion-col>

    </ion-row>
  </section>



  
  
  
</ion-content>
<ion-footer>

  <ion-row>


    <ion-col size="5" center>
      <div>
        <ion-label class="foot-small-title">Total</ion-label><br>
        <ion-label class="foot-price">${{_carrito.total | CustomeCurrency}}</ion-label>
      </div>
    </ion-col>

    <ion-col size="7" class="wrap-foot" (click)="mediosPago();">
      <ion-button class="wrap-cart" expand="block" shape="round" align="right">
        <ion-label>Pagar</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>



</ion-footer>
