<ion-content>
  <div header>
    <ion-row >
      <ion-col size="10" align="left">
        <h2>Administrador</h2>
      </ion-col>
      <ion-col size="2"  align="right">
        <ion-button fill="clear" (click)="cerrarSesion($event)">
          <ion-icon slot="icon-only" color="primary" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    
  </div>

<ng-container>
  <div style="width: 100%;" align="center" (click)="logout()">
    <p>Cerrar Sesion</p>
  </div>
</ng-container>


<ion-row>
  <ion-col size="6" *ngFor="let item of ELEMENTS">
    <ion-card card (click)="showModal(item.value)">
      {{item.name}}
    </ion-card>
  </ion-col>
</ion-row>

</ion-content>
