<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-title>Administrador</ion-title>
      <ion-button fill="clear" (click)="cerrarSesion($event)">
        <ion-icon slot="icon-only" style="color: #555555; zoom: .8;"  name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="6" *ngFor="let item of ELEMENTS">
      <ion-card card (click)="showModal(item.value)">
        <div align="center">
          <ion-img  [src]="item.src" class="icon-image"></ion-img>
          <p>{{item.name}}</p>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>
