ion-icon{
    zoom: 1.7;
    color: #707070;
    margin-left: 7px;
}

[right]{
    color: #dadada;
    position: absolute;
    top: 1px;
    right: 5px;
    zoom: 1;
    display: inline-block; 
    transform: rotate(180deg);
}
[center]{
    margin-right: -30px !important;
    zoom: .8;
    // font-size: 18px;

    ion-label{
        font-size: 22px;

        // display: inline-block;
        // vertical-align: middle;

    }

}