
<ion-content fullscreen="true">
  
  <div wrapper>
    
      <div header>
        <ion-row >
          <ion-col size="10" align="left">
            <label black> <strong>Casino</strong> </label><br>
            <label gris> Paradiso, San Joaquin</label>
          </ion-col>
          <ion-col size="2"  align="right">
            <img perfil (click)="presentPopover($event)" src="https://i7.pngguru.com/preview/178/419/741/computer-icons-avatar-login-user-avatar.jpg" alt="">
          </ion-col>
        </ion-row>
        
      </div>

      
      <div *ngIf="isCerrado" class="cerrado">
        <h3>El local se encuentra cerrado</h3>
      </div>

      <ng-container *ngIf="!isCerrado">
      
        <div banner>
          <label black title>Categorias</label>
          <!-- <p (click)="navigateTo('productos')">Ver todas</p> -->
        </div>
      
        <div categories>
      
          <ion-slides [options]="slideConfigMedium">
            <ion-slide *ngFor="let categoria of categorias" (click)="toCategory(categoria.id)">
              <ion-card>
                <div class="img-wrapper">
                  <img [src]="categoria.image" alt="">
                </div>
                <ion-label>{{categoria.nombre}}</ion-label>
      
              </ion-card>
            </ion-slide>
          </ion-slides>
      
        </div>
      
        <div banner>
          <label black title>Promociones</label>
          <!-- <p fill [routerLink]="['/productos']" routerDirection="forward">Ver todos</p> -->
        </div>
        <br><br>
        <div recomendado>
      
          <ion-item *ngIf="">
      
          </ion-item>
      
          <section>
            <ion-row *ngFor="let promo of promociones" productos>
              <ion-col>
                <img [src]="promo.urlFoto" class="image-list">
              </ion-col>
      
              <ion-col size="6" class="border-bottom">
                <div class="product-detail">
                  <div>
                    <ion-label title> {{promo.nombre}}</ion-label><br>
                    <ion-label small>{{promo.descripcion}}</ion-label>
                  </div>
                  <ion-label precio>${{promo.precio_unidad}} </ion-label>
                </div>
              </ion-col>
      
              <ion-col size="2" class="border-bottom">
                <app-selector [value]="0" (valueAdd)="modifySelect('add'); $event.stopPropagation();"
                  (valueRm)="modifySelect('rm'); $event.stopPropagation();">
                </app-selector>
              </ion-col>
      
            </ion-row>
          </section>
      
          <br><br>
      
          <ion-button expand="full" (click)="navigateTo('productos')">
            Ver todos los productos
          </ion-button>
        </div>
      </ng-container>

  </div>

</ion-content>

<ion-footer *ngIf="!isCerrado">
  <ion-item class="foot" lines="none" (click)="openPedido()" *ngIf="pedido">
    <h3>Ir a Pedidos</h3>
    <ion-icon name="reader-outline" slot="end"></ion-icon>
  </ion-item>
</ion-footer>